/*
Site wide colors from Virginia Tech
*/
:root {
  /* Primary colors */
  --vt-maroon:#861f41;
  --vt-burntOrange:#e5751f;
  --vt-hokieStone: #75787b;
  --vt-white: #ffffff;

  /* Secondary colors */
  --vt-purple: #642667;
  --vt-pink: #ce0058;
  --vt-yellow: #f7ea48;
  --vt-teal: #508590;
  --vt-turquoise: #2cd5c4;
  --vt-grey: #d7d2cb;
  --vt-smoke: #e5e1e6;
  --vt-impactOrange: #ca4f00;
}

/* 
* general
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

.page_title {
  padding-left: 10px;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
}

.edit {
  padding-top: 5px;
  padding-left: 20px;
}

.edit :hover {
  cursor: pointer;
}

/**
* Submit button css
*/
.submit_button {
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #293856;
  color: white;
  cursor: pointer;
  margin-top: 40px;
}



/* 
* main container
*/
.main_page_container {
  overflow-y: auto;
  padding-top: 0px;
  outline-style: blank;
  outline-color: #E5751F;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 15px 15px 15px 15px;
  overflow-y: scroll;
  flex: 1;
  flex-direction: column;
}

/**
* Sponsorship page css
*/
.sponsor_grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.sponsor_buttons_container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically, if the container has a defined height */
  /* padding: 5px; Add some padding around the container */
}

.sponsor_button {
  background-color: #861F41; /* Maroon background color */
  color: white; /* Light color for the text to make it visible on maroon background */
  border: none;
  padding: 10px 20px; /* Adjust padding to control the size of the buttons */
  margin: 0 5%; /* Add some margin between the buttons */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
  text-align: center; /* Ensure text is centered within the button */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.sponsor_button:hover {
  background-color: #720F2C; /* A darker shade of maroon for the hover state */
}

/**
* Gallery css
*/
.gallery_grid {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.delete_gallery_button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #861F41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete_gallery_button:hover {
  background-color: #720F2C;
}


/* Team page css */
.team_grid {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* 
* History css
*/
.history_card{
  outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  flex-direction:column;
  align-items:center;
}

/*
* Handle size of image in modal
*/
.image_preview {
  width: 450px;
}

.form_label {
  padding-bottom: 20px;
}


/* Header css */
.header-container {
  width: 100%;
  margin-top: 0;
  position: relative;
  height:5%;
  display: grid;
  grid-template-columns: 15% 70% 15%; /* left cell for logo, middle cell for title, right cell empty */
  align-items: center; /* Align items vertically in the center */
  padding: 10 10px; /* Remove padding above and below, keep horizontal padding */
  margin-bottom: 0px;
}

.logo-container {
  grid-column: 1 / 2; /* Place the logo in the first column */
}

.title-container {
  grid-column: 2 / 3; /* Place the title in the second column */
  justify-self: center; /* Center the title horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center the title vertically */
}

.title-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* Change cursor to pointer on hover */
  display: flex; /* Use flexbox for better control of the content */
  align-items: center; /* Align text vertically */
  justify-content: center; /* Align text horizontally */
  width: 100%; /* Ensure the link takes up the entire width of its container */
}

.title-link:hover, .title-link:focus {
  text-decoration: none;
  color: inherit; /* Prevent color change on hover and focus */
}

.website-title {
  margin: 0; /* Remove default margins */
  text-align: center; /* Center text horizontally */
  font-size: 40px;
}

/* 
* home
*/
.home-header {
  padding-top: 20px;
  padding-left: 20px;
}

.home_text_container {
  padding-left: 20px;
}


.rotating_images{
  position: relative;
  /* add size  */
}

.home_centered_text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

/* Membership page css */

.membership_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.membership_left {
  flex: 1;
  display: flex;
  height: 100%;
  padding: 15px 15px 15px 15px;
  justify-content: center;
  align-items: center;
}

.membership_right {
  flex: 1;
  display: flex;
  height: 100%;
  padding: 15px 15px 15px 15px;
  justify-content: center;
  align-items: center;
  
}

.membership_centered_text {
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
