/* 
* general
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

.page_title {
  padding-left: 10px;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
}

.edit {
  padding-top: 5px;
  padding-left: 20px;
}

.edit :hover {
  cursor: pointer;
}


.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 95%;
}

.link {
  display: flex;
  padding: 5px 25px;
  color: white;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #861F41; /* Original background color */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.link:hover {
  text-decoration: none;
  background-color: #5f132c; /* Darker shade for hover */
  color: white; /* Keep text color white on hover */
}

.active {
  background-color: #5f132c;
}

.icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.link_text {
  flex: 70%;
}

/* 
* topbar css 
*/
.topbar_header {
	position: relative;
}

.topbar_container {
	margin: auto;
}

.topbar {
  outline-style: blank;
  border-radius: .5%; /* Less rounded corners */
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Centers the items vertically */
  justify-content: space-between;
  text-align: center;
  position: relative;
  background-color: #861F41;
}

.nav {
  height: 100px;
}

#nav-check{
  position: absolute;
	opacity:0;
	pointer-events: none;
}

.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.nav-toggler span{
	display: block;
	height: 2px;
	width: 20px;
	background-color: #861F41;
	position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #861F41;
   left:0;
}
.nav-toggler span::before{
	top: -6px;
}
.nav-toggler span::after{
	top: 6px;
}

@media(max-width: 991px) {
  .nav-toggler{
    display: flex;
  }
  .nav {
    position: absolute;
    left:0;
    top:100%;
    width: 100%;
    background-color: var(--color-1);
    border-top: 1px solid rgba(255,255,255,0.2);
    opacity:0;
    visibility: hidden;
  }
  .link {
    width: 100%;
  }
  .link_text {
    display: block;
    margin:0;
  }

  #nav-check:checked ~ .nav{
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  #nav-check:focus ~ .nav-toggler{
    box-shadow: 0 0 15px #000000;
  }

  #nav-check:checked ~ .nav-toggler span{
    background-color: transparent;
  }

  #nav-check:checked ~ .nav-toggler span::before{
    top:0;
    transform: rotate(45deg);
  }

  #nav-check:checked ~ .nav-toggler span::after{
    top:0;
    transform: rotate(-45deg);
  }
}

/**
* Submit button css
*/
.submit_button {
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #293856;
  color: white;
  cursor: pointer;
  margin-top: 40px;
}



/* 
* main container
*/
.main_page_container {
  overflow-y: auto;
  padding-top: 0px;
  outline-style: blank;
  outline-color: #E5751F;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 15px 15px 15px 15px;
  overflow-y: scroll;
  flex: 1;
  flex-direction: column;
}

/**
* Sponsorship page css
*/
.sponsor_grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.sponsor_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  outline-style: blank;
  margin: 10px;
  position: relative;
}

#sponsor_image {
  height: 120px;
  width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: contain; /* This will ensure the image maintains its aspect ratio */
  object-position: center; /* This will center the image in the container */
}

.sponsor_card_container {
  width: 100%;  
}

.sponsor_title {
  font-size: 2em;
  margin-top: 10px; 
  text-align: center; /* Ensure text is centered within the button */
}

.sponsor_buttons_container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically, if the container has a defined height */
  /* padding: 5px; Add some padding around the container */
}


.sponsor_button {
  background-color: #861F41; /* Maroon background color */
  color: white; /* Light color for the text to make it visible on maroon background */
  border: none;
  padding: 10px 20px; /* Adjust padding to control the size of the buttons */
  margin: 0 5%; /* Add some margin between the buttons */
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Change cursor to pointer when hovering over the button */
  text-align: center; /* Ensure text is centered within the button */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.sponsor_button:hover {
  background-color: #720F2C; /* A darker shade of maroon for the hover state */
}

/**
* Gallery css
*/
.gallery_grid {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.gallery_title {
  font-size: 1.2em;
  margin: 10px 0;
}

.galler_description {
  font-size: 1em;
  margin: 0;
}

.delete_gallery_button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #861F41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete_gallery_button:hover {
  background-color: #720F2C;
}

.gallery_container {
  outline-style: blank;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#gallery_image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.gallery_card_container {
  /* width: 33%;   */
  padding: 15px;
  text-align: center;
}


/* Team page css */
.team_grid {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.team_container {
  outline-style: blank;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#team_image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain; /* This will ensure the image maintains its aspect ratio */
  object-position: center; /* This will center the image in the container */
}

.team_card_container {
  padding: 15px;
  text-align: center;
}

.team_name {
  font-size: 1em;
  margin: 0;
}

.team_position {
  font-size: 1em;
  margin: 0;
}

.team_year {
  font-size: 1em;
  margin: 0;
}

/* 
* History css
*/
.history_card{
  outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  flex-direction:column;
  align-items:center;
}

.history_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.history_left_column {
  display: flex;
  flex-direction: column;
}

.history_image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.history_stat {
  margin-bottom: 10px;
  font-size: 14px;
}

/*
* Handle size of image in modal
*/
.image_preview {
  width: 450px;
}

.form_label {
  padding-bottom: 20px;
}


/* Header css */
.header-container {
  width: 100%;
  margin-top: 0;
  position: relative;
  height:5%;
  display: grid;
  grid-template-columns: 15% 70% 15%; /* left cell for logo, middle cell for title, right cell empty */
  align-items: center; /* Align items vertically in the center */
  padding: 10 10px; /* Remove padding above and below, keep horizontal padding */
  margin-bottom: 0px;
}

.logo-container {
  grid-column: 1 / 2; /* Place the logo in the first column */
}

.logo {
  max-height: 100px; /* Make the logo expand to fill the container */
  height: auto; /* Maintain aspect ratio */
}

.title-container {
  grid-column: 2 / 3; /* Place the title in the second column */
  justify-self: center; /* Center the title horizontally */
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center the title vertically */
}

.title-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* Change cursor to pointer on hover */
  display: flex; /* Use flexbox for better control of the content */
  align-items: center; /* Align text vertically */
  justify-content: center; /* Align text horizontally */
  width: 100%; /* Ensure the link takes up the entire width of its container */
}

.title-link:hover, .title-link:focus {
  text-decoration: none;
  color: inherit; /* Prevent color change on hover and focus */
}

.website-title {
  margin: 0; /* Remove default margins */
  text-align: center; /* Center text horizontally */
  font-size: 40px;
}

/* 
* home
*/
.home-header {
  padding-top: 20px;
  padding-left: 20px;
}

.home_text_container {
  padding-left: 20px;
}


.rotating_images{
  position: relative;
  /* add size  */
}

/* Membership page css */

.membership_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.membership_left {
  flex: 1;
  display: flex;
  height: 100%;
  padding: 15px 15px 15px 15px;
  justify-content: center;
  align-items: center;
}

.membership_right {
  flex: 1;
  display: flex;
  height: 100%;
  padding: 15px 15px 15px 15px;
  justify-content: center;
  align-items: center;
  
}

.contact_info_form_short_box {
  border-radius: 5px;
  width: 100%; 
  height: 80%;
  border: 1px solid #000000; 
  padding: 15px;
}

.contact_info_form_large_box {
  border-radius: 5px;
  width: 100%; 
  height: 150px; 
  border: 1px solid #000000; 
  padding: 15px;
}

.contact_title {
  text-align: center;
}

.centered_text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.contact_form_container {
  outline-style: solid;
  border: 1px solid #000000; 
  border-radius: 20px;
}

.contact_submit_button{
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #861F41; /* Maroon background color */
  color: white;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 15px;
}

/* Footer css */
.footer {
  background-color: #75787b;
  color: white;
  padding: 10px;
  text-align: left;
  margin-bottom: 0;
  position: relative;
}